body {
    font-family: "Lato", sans-serif;
    background-color: beige;    
  }

.navigation ul {
    margin: 0;
    padding: 0;
    text-align: right;
    position: relative;
  }
  
.navigation li {
    font-weight: 100;
    letter-spacing: 2px;
  } 

#banner {
    background-image:url(images/beardbalmtest.png) ;
    background-size: cover;
    background-position: bottom center;
    height: 600px;
    width: 100%;
  }

#banner .content h1 {
    border: 3px solid white;
    position: relative;
    top: 50px;
    width: 400px;
    margin: 0 auto;  
  }
#lowerpic {
    background-image: url(images/groomingmaterials.jpeg);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
}  